.h1 {
   font-family: 'Avenir';
   font-style: normal;
   font-weight: 800;
   font-size: 22px;
   float: left;
   padding-left: 3%;
}

.main {
   position: absolute;
   top: 14%;
   display: flex;
   flex-direction: column;
   float: left;
   height: 80%;
   width: 80%;
}

.part {
   display: flex;
   gap: 4%;
}

.applyWrap {
   margin-top: 5%;
   height: 80%;
   width: 100%;
   display: flex;
   flex-direction: column;
   float: left;
   gap: 5%;
}

.alertMsg {
   color: #ee1d52;
}

.field {
   border-radius: 29px;
   width: fit-content;
   padding: 1% 3% 1% 3%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #0c6eed;
   color: #fff;
   font-family: Noto Sans;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   letter-spacing: 1px;
}

.job {
   width: fit-content;
   padding: 1% 3% 1% 3%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Noto Sans;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   letter-spacing: 0.9px;
   border-radius: 100px;
   border: 1px solid #000;
}
.submitBtn {
   width: fit-content;
   border-radius: 40px;
   padding: 18px 30px;
   background: #6d758f;
   color: #fff;
   text-align: center;
   font-family: Inter;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   font-size: 20px;
}

.submitBtn:hover {
   transform: scale(1.05);
}

.closeBtn:hover {
   transform: scale(1.05);
}

.top {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2%;
   width: 100%;
   top: 0;
   background: #f1f3f7;
   border-radius: 20px 20px 0 0;
}

.btnWrap {
   display: flex;
   flex-direction: row;
   gap: 5%;
   justify-content: flex-end;
}
.closeBtn {
   width: fit-content;
   padding: 18px 30px;
   border-radius: 40px;
   background: #9b9b9b;

   color: #fff;
   text-align: center;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
