.banner {
  width: 100%;
  height: 35vh;
  background-color: grey;
  position: relative;
}

.downloadBtn {
  background-color: black;
  position: absolute;
  right: 30px;
  bottom: 20px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.downloadBtn:hover {
  transform: scale(1.05);
}
