.paddingSection {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: background-color 0.2s ease-in-out;
}

.jobSection {
  padding: 0px 5%;
  margin-bottom: 50px;
}

.jobTitle {
  font-family: Alef;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.applyCardContainer {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  padding: 30px 40px;
}

.dottedBorder {
  border: 0.5px dashed;
  border-radius: 10px;
}

.scrollArea {
  height: 100%;
  width: calc(100% - 210px);
  border-radius: 10px;
  padding: 16px 18px;
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}

.scrollArea::-webkit-scrollbar {
  width: 8px;
}

.scrollArea::-webkit-scrollbar-thumb {
  /* background-color: #7090b0; */
  background-color: #0c6eed;
  border-radius: 8px;
}

.scrollArea::-webkit-scrollbar-thumb:hover {
  background-color: #2b5b9a;
}

.scrollArea::-webkit-scrollbar-track {
  background-color: #c9c9c9;
  border-radius: 8px;
}
