.dayGrid{
    display: grid;
    position: relative;
    grid-template-columns: repeat(7, 11.2vw);
    grid-template-rows: repeat(6, 10.4vh);
}

.boxDate{
    display: block;
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 5px;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dayBox{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 2px;
    width: 10.4vw;
    height: 90%;
    flex-shrink: 0;
    border-radius: 10px;
    background: #323232;
    margin-right:12px;
}


.blueText {
    color: #17A1FA;
}

.eventBar{
    display: flex;
    padding: 5px;
    /* margin: 10px; */
    /* justify-content: center; */
    align-items: center;
    height: 18px;
    border-radius: 4px;
    background-color: #FFE9E9;

    position: absolute;
    color: #454545;
    font-family: Avenir;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}

.eventBarWrap{
    position: relative;
}

.emptyBox{
    visibility: hidden;    
    height: 1px;
    border-radius: 4px;
    width: 1vw;
}

.eventBarWrap{
    cursor: pointer;
}