.Calendar2_wrapper__YHdHw{
  /* position: absolute; */
  margin-left: 8vw;

}

/* .fc-view-harness fc-view-harness-active{
  padding: 10px;
}

.fc-dayGridMonth-view fc-view fc-daygrid{
} */
.Calendar2_child__rwtPZ{
  /* position: absolute; */
  margin-top: -20px;

}
.fc-day-sun a {
    color: #FF3333;
    text-decoration: none;
  }

.fc-day-sat a {
  color: #1E90FF;
  text-decoration: none;
}

/* .fc fc-media-screen fc-direction-ltr fc-theme-standard{
  height:100%;
} */

#calendar {
  max-width: 900px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  background-color: black;
}

.fc-day-mon a {
  color: white;
  text-decoration: none;
}

.fc-day-tue a {
  color: white;
  text-decoration: none;
}

.fc-day-wed a {
  color: white;
  text-decoration: none;
}

.fc-day-thu a {
  color: white;
  text-decoration: none;
}

.fc-day-fri a {
  color: white;
  text-decoration: none;
}

.Calendar2_child__rwtPZ{
  width: 100%
}

.fc-daygrid-day-bottom a {
  color: #B9D6E9;
}

.fc-event-time{
  color: white;
}

.fc-event-title{
  color: white;
}

.fc-toolbar-title{
  color: white;
}

.fc-toolbar-chunk{
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: -5px;
}

.fc-toolbar-title{
  font-weight: 600; 
}

.fc-toolbar-chunk{
  margin-right: 20px;

}

.fc-daygrid-event-dot{
  background-color: #A6CBE3;
}

.fc-daygrid-day-number a{
  color: #800000;
}

.fc-popover-title{
  color: black;
}

.fc-popover-body {
  background-color: black;
}

.fc-scrollgrid  fc-scrollgrid-liquid{
  border-radius: 50px !important;

  border: 2px solid red;
}

.fc-dayGridMonth-view fc-view fc-daygrid{
  border-radius: 10px !important;
  overflow: hidden !important;
}

.fc-view-harness fc-view-harness-active{
  border: 2px solid red;
  border-radius: 10px !important;
  overflow: hidden !important;
}

.fc-col-header-cell-cushion{
  opacity: 0.9;
  font-weight: 400;
}   

.fc-col-header {
  z-index: 1;
}

.fc {
  margin-top: 5px;
}

.fc-day fc-day-thu fc-day-past fc-daygrid-day{
  color: pink;
  background-color: pink;

}

.fc-scrollgrid-sync-table{
  color: pink;
  /* background-color: rgba(46,45,45,0.5); */
}
.fc-col-header {
  /* background-color: rgba(46,45,45,0.5); */

}

