.eventBar{
    display: flex;
    padding: 5px;
    /* margin: 10px; */
    /* justify-content: center; */
    align-items: center;
    height: 18px;
    border-radius: 4px;
    background-color: #FFE9E9;

    position: absolute;
    color: #454545;
    font-family: Avenir;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}