.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.n {
margin-top: 20px;
}

.option{
    height: 210px;
}

.skillwrap{
  display: flex;
  flex-direction: row;
  gap: 6px;
  font-size: 17px;
  align-items: center;
  cursor: pointer;

}

.skills{
  display: flex;
  gap: 30px;
  overflow-x: hidden;
  overflow-wrap: break-word;
  width: 900px;
  height: fit-content;
  padding:30px;
  background-color: white ;
  border-radius: 30px;
}

.imgtxt {
  cursor: pointer;
  margin-top: 20px;
  color: white;
  text-shadow: 2px 2px 4px #fff;
}

.profileImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  margin-top: 160px;
}
.middleFont {
  color: white;
  text-align: right;
  font-size: 28px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 10px;
}

.basic {
  margin-top: 20px;
}
