.navbar {
  display: flex;
  justify-content: space-between;
  /* 
    width 100vw를 주니 스크롤 생기는 문제 발생. 
    body의 overflow-x에 hidden으로 임시(?) 조치
  */
  width: 100vw;
  overflow: hidden;
  height: 64px;
  background-color: rgba(39, 39, 39, 0.2);
  overflow: hidden;
  padding: 0 5vw;
}

.navLink {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  padding-top: 19px;
  padding-bottom: 20px;
  cursor: pointer;
}

/* 이미지 스타일 */
.exampleImg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 367px;
}

.loginButton {
  display: flex;
  width: 98px;
  height: 44px;
  top: 10px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  align-items: center;
  gap: 12px;
  background-color: rgba(255, 255, 255, 0.2); /* 버튼 배경색 */
  border: none; /* 버튼 테두리 없음 */
  color: white; /* 버튼 글자색 */
  padding: 12px 0px 12px 11px; /* 버튼 내부 패딩 */
  text-align: center; /* 버튼 텍스트 중앙 정렬 */
  text-decoration: none; /* 버튼 텍스트 밑줄 없음 */
  font-size: 15px; /* 버튼 글자 크기 */
  margin: 10px 0 10px 0; /* 버튼 바깥쪽 여백 없음 */
  border-radius: 35.5px;
}

.container {
  display: flex;
  margin: 121px 0 193px 0;
  gap: 80px;
}

.imageContainer {
  border-radius: 0px 40px 40px 0px;
  margin-right: 16px;
  cursor: pointer;
  width: 50vw;
  /* transition: all 0.5s ease-in-out; */
  /* opacity: 0; */
  position: relative;
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid black;
}

.imageContainer:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  border: 1px solid #ffffff;
  /* background: black; */
  /* opacity: 1; */
}

.letsJoin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  /* transition: all 0.3s ease-in-out; */
  opacity: 0;
}

.imageContainer:hover .letsJoin {
  opacity: 1;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.wrapper {
  display: grid;
  grid-template-rows: 0.2fr 0.8fr 0.6fr 1fr 1fr;
  /* grid-row-gap: 10px 60px 30px ; */
  padding-top: 130px;
  padding-right: 0;
  margin-right: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
    align-items: center;
	}
  .image {
    width: 90vw;
    border-radius: 40px;
  }

}



.text {
  font-size: 16px;
  line-height: 1.5;
}

.tHot {
  width: 111px;
  height: 33px;
  color: white;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 24px;
}

.hotName {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 55px;
  /* identical to box height */

  color: #ffffff;
}

.vector {
  width: 24px;
  height: 41px;
  margin: 250px 30px 0 0;
  cursor: pointer;
}

hr {
  margin: 0;
  width: 400px;
}

.projectTitle {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 42px;
  align-items: center;
  color: #ffffff;
}

.projectTitle {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 42px;
  align-items: center;
  color: #ffffff;
}

.navBar {
  border-bottom: 1px solid #ffffff66;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  margin-top: 38px;
}

.menus {
  display: flex;
  gap: 78px;
  font-size: 32px;
  color: #ffffff66;
}

.menu {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.menu:hover {
  color: #ffffff;
}

.isRecruiting {
  font-size: 20px;
  display: flex;
  gap: 19px;
}

.toggleBtn {
  width: 68px;
  height: 30px;
  background-color: #7090b0;
  border-radius: 15px;
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.toggleDot {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 4px;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
}

.toggleBtn.active {
  background-color: #e1ecf6;
}

.toggleDot.active {
  background-color: black;
  left: calc(100% - 24px);
}

.mozipzoong {
  color: white;
}

.filterBox {
  margin-top: 15px;
  color: white;
}

.filterBox div {
  font-weight: 500;
}

.filterFlex {
  display: flex;
  gap: 35px;
  margin-bottom: 15px;
}

.filterFlex div {
  background-color: rgba(112, 144, 176, 0.25);
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.filteredItems {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  height: 10px;
}

.filteredItems img {
  width: 16px;
  height: 15px;
}

.footer {
  margin-top: 50px;
  width: 100vw;
  height: 300px;
  background-color: #727272;
}

.contact {
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 80px;
}

.footerContents {
  padding: 50px 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(112, 144, 176, 1);
}
