.wrap {
   color: white;
   width: 100%;
   display: flex;
   flex-direction: column;
   padding-left: 20px;
   padding-top: 2vh;
   overflow-y: auto;
}

.topDate {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 1.3vw;
   gap: 0.3vw;
}

.month {
   color: #0c6eed;
   font-size: 15px;
   font-style: normal;
   font-weight: 600;
   line-height: 1vh;
}

.year {
   text-align: center;
   font-family: Inter;
   font-size: 15px;
   font-style: normal;
   font-weight: 400;
   cursor: pointer;
}

.putEvent {
   display: flex;
   align-items: center;
   padding: 10px 18px 10px 22px;
   border-radius: 100px;
   background: #0c6eed;
   height: 5vh;
   /* margin-left: 76vw; */
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.putEventTxt {
   color: #fff;
   font-family: Avenir;
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: 1vh; /* 66.667% */
}

.putEventPlus {
   margin-left: 6px;
   color: #fff;
   font-family: Avenir;
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: 1vh; /* 66.667% */
}

.weekDay {
   font-family: Inter;
   font-size: 1.2vw;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-left: 7vw;
   margin-top: 2.5vh;
   margin-bottom: 5vh;
}

.weekends {
   color: #0c6eed;
   margin-right: 9.8vw;
}

.weekdays {
   margin-right: 9.8vw;
}

.cellBox {
   margin-left: 7vw;
}

.setEvnet {
   z-index: 3;
}

.datePointer {
   display: flex;
   gap: 5px;
   align-items: center;
   cursor: pointer;
}

.react-datepicker__input-containerP {
   background-color: black !important;
}
