.wrap{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 29px;
    padding-top: 43px;

}

.topDate{
    display:flex;
    align-items: center;
    gap:4px;
}

.year{
    color: #C9C9C9;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

.month {
    color: #777;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
}

.putEvent {
    border-radius: 6px;
    background: #7090B0;
    width: 88px;
    height: 38px;
    margin-left: 70vw;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    
}

.putEventTxt{
    color: #FFF;
    font-family: Avenir;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; /* 66.667% */
}

.weekDay{
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 120px;
    margin-top: 32.58px;
    margin-bottom: 70.62px;

}

.weekends{
    color: #17A1FA;
    margin-right: 140px;
}

.weekdays{
    color: #B3B3B3;
    margin-right: 140px;
}

