.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 
      width 100vw를 주니 스크롤 생기는 문제 발생. 
      body의 overflow-x에 hidden으로 임시(?) 조치
    */
    width: 100vw;
    overflow: hidden;
    height: 64px;
    background-color: #ffffff;
    overflow: hidden;
    padding: 0 5vw;
  }

.navLink {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    padding-top: 19px;
    padding-bottom: 20px;
    cursor: pointer;
}

.loginButton {
    display: flex;
    width: 98px;
    height: 44px;
    top: 10px;
    font-family: "Avenir";
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    align-items: center;
    gap: 12px;
    background-color: rgba(255, 255, 255, 0.2); /* 버튼 배경색 */
    border: 1px solid black; /* 버튼 테두리 없음 */
    color: black; /* 버튼 글자색 */
    padding: 12px 0px 12px 11px; /* 버튼 내부 패딩 */
    text-align: center; /* 버튼 텍스트 중앙 정렬 */
    text-decoration: none; /* 버튼 텍스트 밑줄 없음 */
    font-size: 15px; /* 버튼 글자 크기 */
    margin: 10px 0 10px 0; /* 버튼 바깥쪽 여백 없음 */
    border-radius: 35.5px;
  }
  
.loginModal {
    height: 44px;
    width: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }