.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  overflow: hidden;
  height: 64px;
  overflow: hidden;
  padding: 0 5vw;
}

.navLink {
  color: black;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
}

.navLink:hover {
  transform: scale(1.05);
}

.loginButton {
  display: flex;
  width: 98px;
  height: 44px;
  top: 10px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  align-items: center;
  gap: 12px;
  background-color: rgba(255, 255, 255, 0.2); /* 버튼 배경색 */
  border: 1px solid black; /* 버튼 테두리 없음 */
  color: black; /* 버튼 글자색 */
  padding: 12px 0px 12px 11px; /* 버튼 내부 패딩 */
  text-align: center; /* 버튼 텍스트 중앙 정렬 */
  text-decoration: none; /* 버튼 텍스트 밑줄 없음 */
  font-size: 15px; /* 버튼 글자 크기 */
  margin: 10px 0 10px 0; /* 버튼 바깥쪽 여백 없음 */
  border-radius: 35.5px;
}

.loginModal {
  height: 44px;
  width: 61px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
