.ProjectBox {
  margin-top: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 880px) {
  .ProjectBox {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .ProjectBox {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
