.dayBox{
    display: inline-block;
    width: 10.4vw;
    height: 84px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #323232;
    margin-top: 6px;
    margin-right:12px;
}

.dayTable{
    display:flex;
    flex-direction: row;
    margin-left: 120px;
    gap:12px;
}

.otherDayTable{
    display:flex;
    flex-direction: row;
    margin-left: 120px;
    gap:12px;
    
}
.dayBoxHoliday{
    display: inline-block;
    width: 10.4vw;
    height: 84px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #323232;
    margin-top: 6px;
    color: #17A1FA;
    margin-right:12px;
}

.boxDate{
    margin-top: 4.5px;
    margin-left: 8px;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.eventBar{
    position: absolute;
    top: 33vh;
    left: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.8vw;
    height: 18px;
    border-radius: 4px;
    background-color: #FFE9E9;;;

    color: #454545;
    font-family: Avenir;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}

.eventBar1{
    position: absolute;
    top: 33vh;
    left: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.8vw;
    height: 18px;
    border-radius: 4px;
    background-color: #FDEFAE;;

    color: #454545;
    font-family: Avenir;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}