.loginContainer {
  height: 100vh;
  display: flex;
  align-items: center;
}

.loginBox {
  width: 30vw;
  min-width: 550px;
  background-color: white;
  height: 90%;
  border-radius: 24px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 90px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 800px;
}

.loginBtn {
  background: #111111;
  opacity: 0.25;
  border-radius: 32px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  height: 56px;
}

.loginBtn:hover {
  opacity: 1;
  background: #000000;
}

.iconBox {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.fighteeingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fighteeing {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
}

.areYouFirst {
  font-weight: 500;
  font-size: 14px;
  color: #666666;
}

.signUp {
  font-weight: 500;
  font-size: 14px;
  text-decoration-line: underline;
  color: #111111;
  cursor: pointer;
}

.loginInputBox {
  display: flex;
  flex-direction: column;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #666666;
  gap: 10px;
}

.emailInput {
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 12px;
  padding: 10px;
  color: black;
}

.passwordInput {
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 12px;
  padding: 10px;
  color: black;
}

.findPasswordAndErrorMsg {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.findPassword {
  color: #111111;
  text-decoration-line: underline;
}

.errorMsg {
  color: red;
}
