.loginContainer {
  height: 100vh;
  display: flex;
  align-items: center;
}

.loginBox {
  width: 50vw;
  max-width: 700px;
  max-height: 650px;
  height: 70%;
  background-color: white;
  border-radius: 80px;
  overflow: hidden;
}

.signUpInputBox {
  display: flex;
  flex-direction: column;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #666666;
  gap: 10px;
}

.emailInput,
.passwordInput {
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 12px;
  padding: 10px;
  color: black;
  width: 100%;
}

.warning {
  position: absolute;
  left: 0;
  top: 55px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ee1d52;
}

.thirdScreenBtn {
  margin-right: auto;
  margin-left: auto;
}

.buttonHidden {
  visibility: hidden;
}
