.header {
  border-bottom: 1px solid #b4b4b4;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.leftHeader {
  display: flex;
  gap: 20px;
  align-items: center;
}
.rightHeader {
  font-size: 12px;
  color: #727272;
  display: flex;
  align-items: flex-end;
}

.title {
  color: #7090b0;
  font-size: 20px;
  font-weight: 800;
  margin: 25px 0px;
  font-family: "Avenir";
  font-size: 16px;
  letter-spacing: -0.02em;
}

.more {
  color: #7090b0;
  font-size: 12px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 5px;
  align-items: center;
}

.content {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: -0.02em;
}
