* {
   font-family: 'Avenir';
}

body {
   margin: 0;
   /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   transition: background-color 0.3s ease-in-out;
}

#root {
   @apply flex flex-col items-center;
   /* @apply px-12; */
   overflow-x: hidden;
}

.overflowHidden body {
   overflow: hidden;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.maxWidth {
   @apply w-full max-w-screen-xl m-auto;
}

/* collapse ν¨κ³Ό μ„Έν… */
.ReactCollapse--collapse {
   position: absolute;
   transition: height 350ms;
   width: 100%;
}
