* {
  font-family: "Avenir";
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease-in-out;
}

#root {
  @apply flex flex-col items-center;
  /* @apply px-12; */
  overflow-x: hidden;
}

html.profileOnly body {
  background: linear-gradient(
      to top,
      rgba(20, 20, 20, 0) 10%,
      rgba(20, 20, 20, 0) 25%,
      rgba(20, 20, 20, 0) 50%,
      rgba(20, 20, 20, 0.15) 75%,
      rgba(20, 20, 20, 0.75) 100%
    ),
    url("../public/public_assets/header.png");
  background-repeat: no-repeat;
  background-color: black;
  background-size: 100%;
}

.overflowHidden body {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.maxWidth {
  @apply w-full max-w-screen-xl m-auto;
}

/* collapse ν¨κ³Ό μ„Έν… */
.ReactCollapse--collapse {
  position: absolute;
  transition: height 350ms;
  width: 100%;
}
