.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #F2EDED;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  margin: 0 10px;
  color: #7090B0;
  text-decoration: none;
}

h1 {
  margin-top: 70px; /* 메뉴 바 높이 + 여백 */
}

body{
  background-color: #F4F6F8;
}

#forum {
  box-sizing: border-box;
  margin-top: 0;
  position: absolute;
  width: 783px;
  height: 600px;
  left: 0px;
  top: 1385px;

  border: 1px solid #FFFFFF;
  
  border-radius: 0px 40px 40px 0px;
  
}

#forum:hover{
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.7) 59.37%, rgba(0, 0, 0, 0) 100%), url("../public/forum.png");

}

#hot{
  position: absolute;
  width: 292px;
  height: 198.46px;
  left: 885px;
  top: 1557px;

}

/* .title{
  position: absolute;
  left: 57.62%;
  right: 23.37%;
  top: 23.96%;
  bottom: 75.24%;

  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 55px;

  display: flex;
  align-items: center;

  color: #1C1D1E;
} */

.t{
  position: absolute;
  left: 57.62%;
  right: 35.16%;
  top: 22.61%;
  bottom: 76.91%;

  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #1C1D1E;
}


 